:root {
  @media (width < 740px) {
    --border-width: 12px;
  }
  @media (740px <= width) {
    --border-width: 24px;
  }
}

html {
  @media (width < 740px) {
    font-size: 56.25%;
  }
  @media (740px <= width) {
    font-size: 62.5%;
  }
}

body {
  background-image: url("/110310200304.png");
  background-repeat: repeat;
  color: #444;
  font-family: arial, sans-serif;
  line-height: 1.25;
  overflow: hidden;
  writing-mode: vertical-rl;
}

* {
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

canvas,
img,
picture,
svg,
video {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  pointer-events: none;
  shape-margin: 1rem;
  vertical-align: middle;
}

input,
textarea {
  min-width: 0;
}

ol,
ul {
  list-style: none;
}

.ScrollbarsCustom {
  height: 100dvh !important;
  width: 100dvw !important;
}
